
.article{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}


/*article-content*/

h1, h2{
    text-align: center;
}

h2{
    margin-top: 100px;
}

#article-content{
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 700px;
    margin-top: 50px;
    text-align: justify;
    float: left;
}

#article-content p{
    font-size: 20px;
    line-height: 30px; 
}


/*reading-companion*/

.reading-companion{
    height: 3330px;
    position: relative;
    float: left;
    margin: 138px 5px 0 25px;
}

.reading-companion-sticky{
    width: 300px;
}

.reading-companion-tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 8px;
    padding: 0px;
}

.reading-companion-tabs li{
    width: 100%;
    list-style: none;
}

.reading-companion-tab{
    padding: 8px 8px 8px 15px;
    border: solid;
    border-color: #d5d5d5;
    background-color: #eee;
    border-width: 1px;
    text-align: left;
    width: 100%;
    color: #069;
    font-size: 16px;
    line-height: 1.15;
    cursor: pointer;
}

.reading-companion-tab:focus {
    outline:0;
}

.reading-companion-panel{
    display: none;
}

.reading-companion-panel--active{
    display: block;
}

.reading-companion-tab--active{
    background-color: white;
    border-bottom-style: none;
    color : black;
    font-weight : bolder;
}

.reading-companion-panel-list{
    padding-left: 15px;
}

.reading-companion-panel ol{
    list-style-type: decimal;
}

.reading-companion-section-item a{
    color: #069;
    user-select: none;
    text-decoration: none;
    padding: 8px 0 8px 0px;
    display: block;
    font-size: 16px;
    font-family: Arial;
}

@media (max-width: 1260px){
    .sidebar{
        display: none;
    }
}



