:root{
    --background-first-part: #f1f1f1;
    --width-part: 92%;
    --margin-part:0 auto;
}

/*first-part*/

#first-part{
    width: var(--width-part);
    margin: var(--margin-part);
    background-color: var(--background-first-part);
    text-align: center;
    overflow: hidden;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #069;
    margin: 0;
    padding: 48px 0;
}

.newArticles{
    display: inline-flex;
}


.arrowChangeArticle{
    height: 50px;
    padding: 122px 0;
    cursor: pointer;
    position: absolute;
    background-color: var(--background-first-part);
    z-index: 1;
}


.leftArrow{
    left: 4%;
}

.rightArrow{
    right: 4%;
}

.inlineArticle{
    display: inline-flex;
}

.inlineArticle div{
    background-color: white;
    text-align: justify;
    width: 400px;
    height: 264px;
    margin: 15px;
    overflow-y: scroll;
}

.article{
    transition-duration: 5s;
}

.hideArticle{
    animation: animation_hideArticle 1.3s linear forwards 0s;
}

@keyframes animation_hideArticle{
    from{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.visibleArticle{
    animation: animation_visibleArticle 1.5s linear 0s;
}

@keyframes animation_visibleArticle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.inlineArticle div::-webkit-scrollbar {
    display: none;
}

.inlineArticle h3{
    text-align: center;
}

.inlineArticle a{
    position: relative;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}


/* seconde-part */
#seconde-part{
    display: flex;
    height: 400px;
    width: var(--width-part);
    margin: var(--margin-part);
}

