

.profile{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

    /* menu profil */
.menu-profil{
    width: 7%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid  rgb(173, 173, 173);
    margin-right: 4%;
}

.reading-companion-tab{
    width: 120px;
    height: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: .019em;
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: rgb(255,255,255);
    color: #3c4043;
    border-radius: 0 20px 20px 0;
    outline: none;
}

.reading-companion-tab:hover{
    background-color:  #e8f0fe9f;
}

.reading-companion-tab--active:hover, .reading-companion-tab--active{
    color: #1a73e8;;
    background-color: #e8f0fe;
}


.dashboard-profil{
    min-height: 500px;
    width: 800px;
    margin-top: 50px;
}


.reading-companion-panel{
    display: none;
}

.reading-companion-panel--active{
    display: flex;
    flex-direction: column;
}

    /*profil*/
.user{
    position: relative;
    display: flex;
    border-bottom: 2px solid #4F92B9;
    max-width: 600px;
}

.user-pseudo{
    margin: 0;
    padding: 5px;
    background-color: #4F92B9;
    color: rgb(255,255,255);
    font-weight: 800;
}

.user-status{
    position: absolute;
    display: flex;
    text-decoration: solid underline #4F92B9;
    right: 0px;
    padding: 5px;
    margin: 0 5px;
}

.user-date{
    margin-top: 50px;
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 6px;
    padding-left: 20px;
    max-width: 480px;
}

.last-comment{
    margin-top: 50px;
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 6px;
    padding: 0 20px 20px 20px;
    max-width: 460px;
}

.comment{
    max-width: 500px;
    height: 100px;
    background-color:  rgba(173, 173, 173, 0.192);
    border: 2px solid  rgb(173, 173, 173);
    border-radius: 6px;
}

.sujets-suivis{
    margin-top: 50px;
}

    /*parametre*/

.change{
    display: flex;
    align-items: baseline;
}

.change:nth-child(n+2){
    margin-top: 50px;
}

.current-information{
    margin: 0;
}

.b-change{
    margin-left: 23px;
    height: fit-content;
    padding: 10px;
    border: 2px solid  rgb(173, 173, 173);
    border-radius: 6px;
    cursor: pointer;
}

.change:first-of-type button{
    margin-left: 102px;
}

.change:nth-of-type(3) button:nth-of-type(1){
    margin-left: 67px;
}

.all-changes{
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 6px;
    padding: 20px;
    max-width: 600px;
}

.delete-account{
    display: flex;
    margin-top: 50px;
    align-items: baseline;
}

.delete-account .b-change{
    background-color: rgba(231, 38, 38, 0.781);
    color: rgb(255,255,255);
    font-weight: 900;
}

.delete-account .b-change:hover{
    background-color: rgb(231, 38, 38);
}

.background-modification{
    position: absolute;
    background-color: rgb(255,255,255,0.5);
    width: 100vw;
    height: 100vh;
    z-index: 400;
    right: 0;
}

.modification-window{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: 300px;
    border: 2px solid  rgb(173, 173, 173);
    border-radius: 6px;
    background-color: rgb(255,255,255);
    margin: auto;
}

.information{
    color:  #4F92B9;
}

#b-confirmation{
    width: 100px;
    margin: 20px auto 0 auto;
    padding: 8px;
    border: 2px solid  rgb(173, 173, 173);
    border-radius: 6px;
}

.modification-window input{
    width: 180px;
    height: 20px;
    margin: 0 auto;
}

.invalide{
    height: 18px;
    color: red;
    font-size: 16px;
}

/*redaction*/

.information-new-article{
    display: flex;
    flex-direction: column;
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 6px;
    padding: 0 20px 20px 20px;
    max-width: 460px;
}

.field-choice{
    display: flex;
    align-items: baseline;
}


.information-new-article p{
    margin-top: 30px;
    margin-bottom: 0;
}

#field-name{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 4px;
}


.creat-art{
    width: fit-content;
    padding: 5px;
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 4px;
    margin-top: 30px;
}


.wirting-article{
    display: flex;
    width: 100%;
}

.wirting-article button{
    min-width: fit-content;
    padding: 5px;
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 10px;
}

#textarea{
    width: 100%;
    max-width: 650px;
    min-height: 300px;
    border-radius: 6px;
    border: 1px solid  rgb(173, 173, 173);
    text-align: center;
}

.b-article{
    display: flex;
    flex-direction: column;
}

.b-add-part{

    max-width: fit-content;
    padding: 5px;
    border: 1px solid  rgb(173, 173, 173);
    border-radius: 4px;
    margin: 30px auto 0 auto;
}

h1, h2{
    text-align: center;
    margin-top: 100px;
}

.article-presentation{
    display: block;
    width: 100%;
    max-width: 700px;
    margin-top: 50px;
    margin-right: 0;
    text-align: justify;
}

.article-presentation p{
    font-size: 20px;
    line-height: 30px; 
}

#valide-article{
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    margin: 20px 35%;
    outline: none;
    background-color: #4F92B9;
    color: rgb(255,255,255); 
    border-radius: 20px;
    border: 2px solid  rgb(173, 173, 173);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .15rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: ease-in 0.3s;
}

#valide-article:hover{
    filter: brightness(90%);
    border-color: black;
}
/* home-page */
.element-part2{
    min-height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    background-color: white;
}
.element-part2:hover{
    background-color: #e8f0fe;
}
.s-element-part2{
    animation: displaySelector 1s ease 0.1s forwards;
}
/* .apparition-form{
    animation: displaySelector 1s ease 0.2s forwards;
} */
@keyframes displaySelector{
    to{
        height: fit-content;
    }
}
.actuals-elements{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.s-actuals-elements{
    animation: selector-separation 1s ease 0.1s forwards;
}

@keyframes selector-separation{
    to{
        border-bottom: 1px solid rgb(173, 173, 173);
    }
}