:root{
    --height-carousel: 455px;
}

/* header */

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}
/*carousel*/

.carousel{
    display: block;
}
.overlay{
    display: flex;
    justify-content: center;
    height: var(--height-carousel);
    font-size: 40px;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    -webkit-text-stroke: azure 1px;
}


.backgroud-image-overlay img{
    height: var(--height-carousel);
    width: 100%;
    position: absolute;
}
/* .imageOverlay3{

} */
/* .imageOverlay{
    animation: animation-backround-image 4000 ease-in 0;
}
@keyframes animation-backround-image{
    from{

    } 
    to{
        
    }
} */

.overlay-words{
    z-index: 2;
    line-height: 100%;
    margin: auto 0;
}

.overlay-css{
    opacity: 0.3;
}

.js-overlay-active{
    /* color: azure;
    -webkit-text-stroke: 0; */
    animation: activation 3s;
}

@keyframes activation{
    from{
        opacity: 1;
    }

    

    to{
        opacity: 1;
        color: azure;
    }
}

/*navbar*/
nav{
    z-index: 1;
    width: 1150px;
    margin: 0 auto;
    background-color: #fff;
    border: solid 2px #d5d5d5;
    border-top: none;
    border-radius: 0 0 80px 80px;
}
nav ul{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}


.menu li{
        list-style: none;
        font-size: 14px;
        margin: auto;
}

.menu li a{
    text-decoration: none;
    text-shadow: #000 2px 2px 3px;	
    display: block;
	font-size: 15px;
	color: #4F92B9;
	letter-spacing: 0.6rem;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
    line-height: 30px;
}

.menu li a:hover{
    color: #000;
}
/*scroll nav-bar*/

/*.fixed{
    on pourrait juste utilisé {position: sticky} (sauf IE) et donc pas besoin de javaScript
*/

/*responsive horizontal nav-bar*/
@media (max-width: 1175px){
    nav{
        border: none;
        border-radius: 0 0 0 0;
    }
    .menu{
        z-index: 1;
        margin: 0px;
        width: 100%;
        overflow: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -moz-animation-name: highlightsFromRight;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-in;
        -moz-animation-duration: 0.4s;
        -webkit-animation-name: highlightsFromRight;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
        -webkit-animation-duration: 0.4s;
        animation-name: highlightsFromRight;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.4s;
    }
    .menu ul{
        display: flex;
    }
    .menu li{
        display: table-cell;
        font-size: 14px;
        margin: auto 36.8px;
    }
}


/*footer*/

footer{
    clear: both;
    position: relative;
    height: 450px;
    background-color: #f9f9f9;
    border-top: 3px solid #ececec;
}

.container{
    width: inherit;
    height: inherit;
}