:root{
    --height-carousel: 455px;
}

/* header */

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}

/*connection button*/
.header-profile-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    top: 0px;
    right: 0px;
}
#connection-status{
    display: flex;
    align-items: baseline;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color:rgba(255,255,255,0.5);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4F92B9;
    margin: 4px 29.3px 0 0;
    width: max-content;
    transition: ease-in 0.3s;
}

.indication-status{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-left: 4px;
}


.header-profile-buttons{
    list-style: none;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(173, 173, 173);
    background-color: rgba(255,255,255,1);
    margin: 10px 0 0 0;
    padding: 0;
    border-radius: 6px;
    border: 2px solid  rgb(173, 173, 173);
    width: 184.5px;
}

.header-profile-buttons form{
    width: 0;
    height: 0;
}

.header-profile-buttons li{
    height: 31.6px;
}

.header-profile-buttons li:nth-child(n+3){
    border-top: 2px solid  rgb(173, 173, 173);
}

.header-profile-buttons li:first-of-type button{
    border-radius: 4.5px 4.5px 0px 0px;
}

.header-profile-buttons li:last-of-type button{
    border-radius: 0px 0px 4.5px 4.5px;
}

.header-profile-buttons li:first-child{
    border: none;
}

.header-profile-buttons li button{
    display: flex;
    align-items: center;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    box-sizing: none;
    outline: none;
    color: rgb(173, 173, 173);
    background-color: rgba(255,255,255,1);
    border: none;
    margin: 0px;
    cursor: pointer;
}

.header-profile-buttons li button:hover{
    background-color: #4F92B9;
    color: rgba(255,255,255,1);
}

/*carousel*/

.carousel{
    display: block;
}

.backgroud-image-carousel img{
    height: var(--height-carousel);
    width: 100%;
    position: absolute;
}
.change-animation{
    animation: animation-background-image 7s ease-in-out 0s;
    z-index: 2;
}

@keyframes animation-background-image{
    from{
    } 

    50%{
        opacity: 1;
        /* clip-path: circle(150% at 50% 50%); */
    }

    to{
        opacity: 0;
        /* clip-path: circle(0% at -50% -50%); */
    }
}

.overlay{
    display: flex;
    justify-content: center;
    height: var(--height-carousel);
    font-size: 40px;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    color: #ffffff21;
    -webkit-text-stroke: azure 1px;
}

.overlay-words{
    z-index: 2;
    line-height: 100%;
    margin: auto 0;
}

.overlay-css{
    opacity: 0.3;
}

.js-overlay-active{
    /* color: azure;
    -webkit-text-stroke: 0; */
    animation: activation 3s;
}

@keyframes activation{
    from{
        opacity: 1;
    }
    
    to{
        opacity: 1;
        color: azure;
    }
}

/*navbar*/
.menu{
    z-index: 4;
    width: 1150px;
    margin: 0 auto;
    background-color: #fff;
    border: solid 2px #d5d5d5;
    border-top: none;
    border-radius: 0 0 80px 80px;
}
nav ul{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}


.menu li{
        list-style: none;
        font-size: 14px;
        margin: auto;
}

.menu li a{
    text-decoration: none;
    text-shadow: #000 2px 2px 3px;	
    display: block;
	font-size: 15px;
	color: #4F92B9;
	letter-spacing: 0.6rem;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
    line-height: 30px;
}

.menu li a:hover{
    color: #000;
}
/*scroll nav-bar*/

/*.fixed{
    on pourrait juste utilisé {position: sticky} (sauf IE) et donc pas besoin de javaScript
*/

/*responsive horizontal nav-bar*/
@media (max-width: 1175px){
    nav{
        border: none;
        border-radius: 0 0 0 0;
    }
    .menu{
        z-index: 4;
        margin: 0px;
        width: 100%;
        overflow: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -moz-animation-name: highlightsFromRight;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-in;
        -moz-animation-duration: 0.4s;
        -webkit-animation-name: highlightsFromRight;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
        -webkit-animation-duration: 0.4s;
        animation-name: highlightsFromRight;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.4s;
        border-radius: 0;
    }
    .menu ul{
        display: flex;
    }
    .menu li{
        display: table-cell;
        font-size: 14px;
        margin: auto 36.8px;
    }
}


/*footer*/

footer{
    clear: both;
    position: relative;
    height: 450px;
    background-color: #f9f9f9;
    border-top: 3px solid #ececec;
}

.container{
    width: inherit;
    height: inherit;
}